@using test2.TextSource;
@using test2.ViewModels.Default;
@model DefaultViewModel
@{
    ViewBag.Title = "AttorneyInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--AttorneyInfo-->
<section id="AttorneyInfo">
    <div class="container-fluid">
        <div class="container">
            <div class="attorneyMiddle">
                <div class="row">
                    <div class="col-md-3">
                        <img src="@Model.attorneySingle.AttorneyPhoto" class="img-responsive">
                    </div>
                    <div class="col-md-9">
                        <div class="businessRight">
                            <div class="infoTop">
                                <h2 class="infoTittle">@Model.attorneySingle.FirstName @Model.attorneySingle.Lastname</h2>
                                <span class="middleInfo"><em>@Model.attorneySingle.WorkSector</em></span>
                            </div>
                            <div class="attorneyContent">
                                <p>@Html.Raw(Model.attorneySingle.Description)</p>
                                <p class="emailP"><b><small>Email:</small></b><small><a href="#">@Model.attorneySingle.Email</a></small></p>
                                <p><b><small>Phone Number:</small></b><small><a href="#"> @Model.attorneySingle.Phone1</a></small></p>
                                @if (Model.attorneySingle.Phone2 != null)
                                {
                                    <p><b><small>Phone Number:</small></b><small><a href="#"> @Model.attorneySingle.Phone1</a></small></p>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/AttorneyInfo-->
