@using PagedList
@using PagedList.Mvc
@using test2.ViewModels.Default;
@model DefaultViewModel

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section id="mainNews" style="background-image:url(@Model.newsImage.NewsPhoto)">
    <div class="imgOverlay"></div>
    <div class="container-fluid">
        <div class="container">
            <div class="middleService">
                <div class="iconTop">
                    <i class="icons fa fa-balance-scale"></i>
                </div>
                <h1 class="serTittle">@RHome.MNews</h1>
                <div class="breadCrump">
                    <ol>
                        <li><a href="@Url.Action("Index", "Home")">@RHome.MHome</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="newsInfo">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="newsContent">
                        <div class="row">
                            <div class="col-md-8 postMain listBlog">
                                @{

                                    foreach (var item in Model.ArticleList)
                                    {
                                        <div class="news-layout">
                                            <div class="block-image">
                                                <a class="link" href="@Url.Action("BlogDetail", "Home", new { id = item.ArticleId })"></a>

                                                @if (item.ArticlePhoto != null)
                                                {
                                                    <div class="promo-box-image">
                                                        <img src="@item.ArticlePhoto" alt="@item.Headline" class="img-responsive img-full img-thumbnail" />
                                                    </div>
                                                    <div class="promo-box-content">
                                                        <i class="icons-image far fa-image fa-5x"></i>
                                                    </div>
                                                }
                                                else
                                                {
                                                    if (item.IframeLink != null)
                                                    {
                                                        <div class="promo-box-image">
                                                            <img id="img" class="img-thumbnail img-responsive " alt="@item.Headline" style="width:100%" src="https://i.ytimg.com/vi/@item.IframeLink/hqdefault.jpg">
                                                        </div>
                                                        <div class="promo-box-content">
                                                            <i class="icons-video far fa-play-circle fa-5x "></i>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="vc_empty_space"></div>
                                            <div class="clearfix"></div>
                                            <div class="blockContent">
                                                <div class="blockTop">
                                                    <a href="@Url.Action("BlogDetail", "Home", new { id = item.ArticleId })" class="layout-tittle">@item.Headline</a>
                                                </div>
                                                <div class="clearfix"></div>
                                                @if (item.ArticleContent.Length > 250)
                                                {
                                                    @Html.Raw(item.ArticleContent.Substring(0, 250))
                                                    <a href="@Url.Action("BlogDetail", "Home", new { id = item.ArticleId })">[...]</a>
                                                }
                                                else
                                                {
                                                    @Html.Raw(item.ArticleContent)
                                                }
                                            </div>
                                            <div class="clearfix"></div>
                                            <a class="read-more" href="@Url.Action("BlogDetail", "Home", new { id = item.ArticleId })">@RGlobal.MReadMore<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                        </div>
                                        <hr />
                                        <div class="vc_empty_space"></div>
                                    }
                                }
                            </div>

                            @{
                                Html.RenderAction("_Postlist");
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 text-center">
                            <div class="pagedList pagination">
                                @Html.PagedListPager(Model.ArticleList, Page => Url.Action("BlogList", "Home", new { Page }), PagedListRenderOptions.Classic)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>